table { font-family: Arial; font-size: 10px; color: #000000; cellspacing:0; cellpadding:0 }
form { margin: 0px; }
a { font-family: Arial; font-size: 11px; font-style: normal; color: #000066; margin-top: 2px; margin-bottom: 2px; text-decoration: overline underline; }

.t_datos	{  color:#000F88; font-family:Arial; font-size:11px; font-weight:bold; line-height:20px; text-align:center; vertical-align:middle; background-color: #99CCFF; border:1px solid #99CCFF; height:20px;}
.c_datos	{  font-family:Arial; font-size:11px; text-align:left; border:1px solid #99CCFF; background-color:#CCFFFF}

.descripcion { font-family: Arial; font-size: 12px; color: #000033; margin: 1px; }
.boton { font-family: Arial; font-size: 10px; color: #FFFFFF; font-weight: bold; border: 1px solid #FF6600; background-color: #CC6633; height:20px;  margin-top:2px; margin-bottom:2px; }

.button { font-family: Arial; font-size: 10px; color: #000000; font-weight: bold; border: 1px solid #666666; background-color: #DDDBDB;    text-decoration:none;}
.button_form { font-family: Arial; font-size: 10px; color: #FFFFFF; font-weight: bold; border: 1px solid #FF6600; background-color: #CC6633;    text-decoration:none;}



.caja { font-family: Arial; color: #000033; font-size: 11px; border: 1px solid #CC6633;   }
.titulos { font-family: Arial,garamond; font-size: 14px; font-style: normal; font-weight: bold; color: #000033; margin: 2px; text-align:center }

.rotulo	{  color:#000F88; font-family:Arial; font-size:11px; font-weight:bold; line-height:20px; text-align:center; vertical-align:middle; background-color: #C3D9FF; border:1px solid #99CCFF; height:20px;}
.datos	{ font-family:Arial; font-size:11px; text-align:left; border:1px solid #99CCFF; background-color:#CCFFFF;  }
.error	{ font-family:Arial; font-size:11px; text-align:left; border:1px solid #99CCFF; background-color:#FF99CC;  }

.centro	{ width:800px; text-align:center; }
.izquierda	{ width:180px; text-align:left; border:1px solid #00053C; filter:alpha(opacity=90);  }
.cuerpo	{ width:650px; text-align:left;  border:1px solid #00053C; top:200px; filter:alpha(opacity=90);}


.pie { font-family: Arial; font-size: 10px; font-style: normal; color: #000033; text-align:center; }
.notapie	{margin-left:2px; margin-top:10px; margin-bottom:10px;}
.cuad_pie	{ text-align:center; border:1px solid #3333CC; margin-top:4px;}
.copy	{ font-family: Arial; font-size: 9px; color: #C0C0C0; }
a.copy	{ font-family: Arial; font-size: 9px; color: #000033; }

.letracapital:first-letter {
    font-size: 10;
    color: red;
    font-weight: bold;

}
